<main>

    <header class="main-header p-3 p-md-5">
        <span>January 29, 2018</span>
        <h4> Newsletter Winter Issue</h4>
    </header>


    <article class="p-3 p-md-5">

        <section class="story-section row">
            <header class="col-12">
                <h6>Arts and Culture</h6>
            </header>

            <div class="medium-view col-12 col-md-6">
                <h5>Hayy: a major new center for the creative industries in Saudi Arabia</h5>
                <div class="image"><img src="{{STATIC_DOMAIN}}/images/presets/Dubai-City-Trips.jpg"/></div>
                <div class="indicators">
                    <div class="time">
                        3 mins read
                    </div>
                    <div class="socials">
                        <span class="social"><mat-icon svgIcon="twitter"></mat-icon></span>
                        <span class="social"><mat-icon svgIcon="facebook"></mat-icon></span>
                    </div>
                </div>

                <div class="summary">
                    Art Jameel continues to build a strong infrastructure around which the arts can thrive with Saudi
                    Arabia
                    with the announcement that a new...
                    <span class="goto-story"><mat-icon svgIcon="arrow-right"></mat-icon></span>
                </div>
            </div>


            <div class="bullet-view col-12 col-md-6">

                <div class="view">
                    <h5>84 teams from 14 Arab country qualify for the semi-finals of 11th edition of MIT Enterprise</h5>
                    <div class="indicators">
                        <div class="time">
                            3 mins read &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="goto-story"><mat-icon svgIcon="arrow-right"></mat-icon></span>
                        </div>
                        <div class="socials">
                            <span class="social"><mat-icon svgIcon="twitter"></mat-icon></span>
                            <span class="social"><mat-icon svgIcon="facebook"></mat-icon></span>
                        </div>
                    </div>
                </div>


                <div class="view">
                    <h5>84 teams from 14 Arab country qualify for the semi-finals of 11th edition of MIT Enterprise</h5>
                    <div class="indicators">
                        <div class="time">
                            3 mins read &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="goto-story"><mat-icon svgIcon="arrow-right"></mat-icon></span>
                        </div>
                        <div class="socials">
                            <span class="social"><mat-icon svgIcon="twitter"></mat-icon></span>
                            <span class="social"><mat-icon svgIcon="facebook"></mat-icon></span>
                        </div>
                    </div>
                </div>


                <div class="view">
                    <h5>84 teams from 14 Arab country qualify for the semi-finals of 11th edition of MIT Enterprise</h5>
                    <div class="indicators">
                        <div class="time">
                            3 mins read &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="goto-story"><mat-icon svgIcon="arrow-right"></mat-icon></span>
                        </div>
                        <div class="socials">
                            <span class="social"><mat-icon svgIcon="twitter"></mat-icon></span>
                            <span class="social"><mat-icon svgIcon="facebook"></mat-icon></span>
                        </div>
                    </div>
                </div>


            </div>


            <div class="medium-view col-12 col-md-6">
                <h5>Hayy: a major new center for the creative industries in Saudi Arabia</h5>
                <div class="image"><img src="{{STATIC_DOMAIN}}/images/presets/City-of-London.jpg"/></div>
                <div class="indicators">
                    <div class="time">
                        3 mins read
                    </div>
                    <div class="socials">
                        <span class="social"><mat-icon svgIcon="twitter"></mat-icon></span>
                        <span class="social"><mat-icon svgIcon="facebook"></mat-icon></span>
                    </div>
                </div>

                <div class="summary">
                    Art Jameel continues to build a strong infrastructure around which the arts can thrive with Saudi
                    Arabia
                    with the announcement that a new...
                    <span class="goto-story"><mat-icon svgIcon="arrow-right"></mat-icon></span>
                </div>
            </div>


        </section>

    </article>


    <article>

        <section class="achievement-section row">
            <h4 class="text-center col-12 mb-4">2017 Achievements </h4>

            <div class="achievements col-6 col-md-4">
                <h5>51,000</h5>
                <p><strong>Bab Rizq Jameel Recruitment:</strong> more than 51,000 job opportunities in 2017</p>
            </div>

            <div class="achievements col-6 col-md-4">
                <h5>6,000</h5>
                <p><strong>Bab Rizq Jameel Recruitment:</strong> more than 51,000 job opportunities in 2017</p>
            </div>

            <div class="achievements col-6 col-md-4">
                <h5>300</h5>
                <p><strong>Bab Rizq Jameel Recruitment:</strong> more than 51,000 job opportunities in 2017</p>
            </div>

            <div class="achievements col-6 offset-md-2 col-md-4">
                <h5>7,000</h5>
                <p><strong>Bab Rizq Jameel Recruitment:</strong> more than 51,000 job opportunities in 2017</p>
            </div>

            <div class="achievements col-12 col-md-4">
                <h5>180</h5>
                <p><strong>Bab Rizq Jameel Recruitment:</strong> more than 51,000 job opportunities in 2017</p>
            </div>


        </section>


        <section class="quote-section">

            <div class="quote-image">
                <mat-icon svgIcon="format-quote-close"></mat-icon>
            </div>
            <div class="text">
                Check out The Daily Edition for thr biggest stories in news, business, tech, sports and entertainment.
            </div>

            <button class="btn btn-primary">Download Issue</button>

        </section>
    </article>


    <article>
        <section class="footer-section">

            <h5>Follow Us</h5>

            <div class="socials">
                <span class="social"><mat-icon svgIcon="facebook"></mat-icon></span>
                <span class="social"><mat-icon svgIcon="google"></mat-icon></span>
                <span class="social"><mat-icon svgIcon="youtube"></mat-icon></span>
                <span class="social"><mat-icon svgIcon="twitter"></mat-icon></span>
            </div>

            <div class="my-4">
                For more information <a href="../dd">click here</a>, or speak with one of our support representatives,
                please call us on +9662 6603177 (KSA) or +9714 4480800 Ext 0962 (Dubai).
            </div>

            <div class="my-4">
                All Rights Reserved 2017
            </div>

            <div class="my-4">
                Disclaimer: You are receiving this email as a privileged customer of Royal Jet. You may at any time,
                choose
                not to receive e-mail marketing literature/information about our program or services by <a
                href="../../../">clicking here</a> to unsubscribe.
            </div>

        </section>

    </article>

</main>

